Bluemix IoBridge Data
[{"id":"4de2ef6e.b21d1","type":"ibmiot","z":"dfb134fc.204ec8","name":"Iobridge_device"},{"id":"39945063.c66bb","type":"inject","z":"dfb134fc.204ec8","name":"Module feed","topic":"module data","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":107,"y":249.40476322174072,"wires":[["5dc388f3.a23c78","fe88babe.017748","f71d7265.08e29","de6bcd6e.21943","72f4ad4d.8d0b54","21296218.ded69e","456a7ce7.ba9584"]]},{"id":"c7644a4c.389bb8","type":"http request","z":"dfb134fc.204ec8","name":"IS delivery","method":"use","ret":"txt","url":"","x":1573.4404525756836,"y":341.3452959060669,"wires":[["66427cf0.99bd84"]]},{"id":"de6bcd6e.21943","type":"http request","z":"dfb134fc.204ec8","name":"Boiler","method":"GET","ret":"txt","url":"http://www.iobridge.com/api/module/feed.xml?key=kejy1h6I5nNeYnlXDG","x":446.79759979248047,"y":318.66671657562256,"wires":[["6467c554.9b983c","4cfd40b0.b302c","f92ae420.06d518"]]},{"id":"3ff9b1e3.c0064e","type":"debug","z":"dfb134fc.204ec8","name":"","active":false,"console":"false","complete":"payload","x":1512.2794952392578,"y":619.4881763458252,"wires":[]},{"id":"6467c554.9b983c","type":"xml","z":"dfb134fc.204ec8","name":"","attr":"","chr":"","x":668.4286422729492,"y":291.83334827423096,"wires":[["3ca22ac.fc35dd6","a14ceb5f.5eb318","9f7b5281.6084b","1d383930.e2c7c7","b4d7440.f4b28c","211ef01d.dee11"]]},{"id":"dc40af16.23bf5","type":"function","z":"dfb134fc.204ec8","name":"Channel 1","func":"msg.payload = msg.payload.module.channel_1[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":937.8034820556641,"y":472.4047679901123,"wires":[["e659a04c.19a66","88df2dc7.7720d","a243d605.5dbc28"]]},{"id":"a243d605.5dbc28","type":"function","z":"dfb134fc.204ec8","name":"Channel Feeder","func":"//var nodeid = msg.payload.label[0];\nvar nodeid = msg.payload.label[0];\nvar temp = msg.payload.AnalogInput[0];\n//var nodeid = \"testing\";\nvar apikeylocal = global.get(\"apikey\");\nvar feedidlocal = global.get(\"feed-id\");\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"X-IS-AccessKey\": apikeylocal };\nmsg.url = \"https://groker.initialstate.com/api/events?\" + \"accessKey=\" + apikeylocal + \"&bucketKey=\" + feedidlocal + \"&\" + nodeid + \"=\" + temp;\nreturn msg;","outputs":1,"noerr":0,"x":1225.41064453125,"y":491.6905212402344,"wires":[["c7644a4c.389bb8","66427cf0.99bd84"]]},{"id":"72f4ad4d.8d0b54","type":"http request","z":"dfb134fc.204ec8","name":"Hall","method":"GET","ret":"txt","url":"http://www.iobridge.com/api/module/feed.xml?key=qfn4EJL8ut3qFhDx6W","x":445.4226188659668,"y":359.3333377838135,"wires":[["6467c554.9b983c","4cfd40b0.b302c","f92ae420.06d518"]]},{"id":"21296218.ded69e","type":"http request","z":"dfb134fc.204ec8","name":"Dev","method":"GET","ret":"txt","url":"http://www.iobridge.com/api/module/feed.xml?key=UabOyLTTiqhJgndDZe","x":445.8392868041992,"y":400.5833349227905,"wires":[["6467c554.9b983c","4cfd40b0.b302c","f92ae420.06d518"]]},{"id":"f71d7265.08e29","type":"http request","z":"dfb134fc.204ec8","name":"Velux","method":"GET","ret":"txt","url":"http://www.iobridge.com/api/module/feed.xml?key=UENJqg9pnP8kQIGbkE","x":444.58928298950195,"y":441.4166851043701,"wires":[["6467c554.9b983c","4cfd40b0.b302c","f92ae420.06d518"]]},{"id":"fe88babe.017748","type":"http request","z":"dfb134fc.204ec8","name":"Study","method":"GET","ret":"txt","url":"http://www.iobridge.com/api/module/feed.xml?key=cx64YE3XHoO680EQ6v","x":445.42261123657227,"y":480.58335399627686,"wires":[["6467c554.9b983c","4cfd40b0.b302c","f92ae420.06d518","70e366c.f8f1c98"]]},{"id":"456a7ce7.ba9584","type":"http request","z":"dfb134fc.204ec8","name":"Shed","method":"GET","ret":"txt","url":"http://www.iobridge.com/api/module/feed.xml?key=UnRUQp8ktHIZByA5r8","x":446.8809471130371,"y":518.5000104904175,"wires":[["6467c554.9b983c","4cfd40b0.b302c","f92ae420.06d518","5ba1a090.a45e6"]]},{"id":"4cfd40b0.b302c","type":"debug","z":"dfb134fc.204ec8","name":"IoBridge outputs","active":false,"console":"false","complete":"payload","x":691.7500610351562,"y":611.7619018554688,"wires":[]},{"id":"5dc388f3.a23c78","type":"function","z":"dfb134fc.204ec8","name":"Global Variables","func":"global.set(\"feed-id\",\"BlueMix Test 2\");\nglobal.set(\"apikey\",\"6UwVem6AFDvJ06bcuNkckcKl3SvhKByT\");\nglobal.set(\"AZURE_apikey\",\"wL04NBTxy4aO0oH5csFjCrDDHlzIl2DLv7adlhVRIkc\");\nglobal.set(\"AZURe_feed-id\",\"6UwVem6AFDvJ06bcuNkckcKl3SvhKByT\");\nreturn msg;","outputs":1,"noerr":0,"x":465.39284896850586,"y":201.11904335021973,"wires":[[]]},{"id":"3ca22ac.fc35dd6","type":"function","z":"dfb134fc.204ec8","name":"Study","func":"var nodeid = msg.payload.module.label[0];\nmsg.payload = msg.payload.module.status[0];\nvar apikeylocal = global.get(\"apikey\");\nvar feedidlocal = global.get(\"feed-id\");\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"X-IS-AccessKey\": apikeylocal };\n//msg.payload = JSON.stringify(data);\nmsg.url = \"https://groker.initialstate.com/api/events?\" + \"accessKey=\" + apikeylocal + \"&bucketKey=\" + feedidlocal + \"&\" + nodeid + \"=\" +msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":926.9405136108398,"y":352.1905002593994,"wires":[["c7644a4c.389bb8"]]},{"id":"a14ceb5f.5eb318","type":"function","z":"dfb134fc.204ec8","name":"Velux","func":"var nodeid = msg.payload.module.label[0];\nmsg.payload = msg.payload.module.status[0];\nvar apikeylocal = global.get(\"apikey\");\nvar feedidlocal = global.get(\"feed-id\");\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"X-IS-AccessKey\": apikeylocal };\nmsg.url = \"https://groker.initialstate.com/api/events?\" + \"accessKey=\" + apikeylocal + \"&bucketKey=\" + feedidlocal + \"&\" + nodeid + \"=\" +msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":928.1309432983398,"y":311.0000228881836,"wires":[["c7644a4c.389bb8"]]},{"id":"b4d7440.f4b28c","type":"function","z":"dfb134fc.204ec8","name":"Hall","func":"var nodeid = msg.payload.module.label[0];\nmsg.payload = msg.payload.module.status[0];\nvar apikeylocal = global.get(\"apikey\");\nvar feedidlocal = global.get(\"feed-id\");\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"X-IS-AccessKey\": apikeylocal };\nmsg.url = \"https://groker.initialstate.com/api/events?\" + \"accessKey=\" + apikeylocal + \"&bucketKey=\" + feedidlocal + \"&\" + nodeid + \"=\" +msg.payload;\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":931.4642753601074,"y":231.00002479553223,"wires":[["c7644a4c.389bb8"]]},{"id":"9f7b5281.6084b","type":"function","z":"dfb134fc.204ec8","name":"Shed","func":"var nodeid = msg.payload.module.label[0];\nmsg.payload = msg.payload.module.status[0];\nvar apikeylocal = global.get(\"apikey\");\nvar feedidlocal = global.get(\"feed-id\");\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"X-IS-AccessKey\": apikeylocal };\nmsg.url = \"https://groker.initialstate.com/api/events?\" + \"accessKey=\" + apikeylocal + \"&bucketKey=\" + feedidlocal + \"&\" + nodeid + \"=\" +msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":928.1309814453125,"y":392.66669750213623,"wires":[["c7644a4c.389bb8"]]},{"id":"1d383930.e2c7c7","type":"function","z":"dfb134fc.204ec8","name":"Dev","func":"var nodeid = msg.payload.module.label[0];\nmsg.payload = msg.payload.module.status[0];\nvar apikeylocal = global.get(\"apikey\");\nvar feedidlocal = global.get(\"feed-id\");\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"X-IS-AccessKey\": apikeylocal };\nmsg.url = \"https://groker.initialstate.com/api/events?\" + \"accessKey=\" + apikeylocal + \"&bucketKey=\" + feedidlocal + \"&\" + nodeid + \"=\" +msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":929.7975883483887,"y":271.0000171661377,"wires":[["c7644a4c.389bb8"]]},{"id":"211ef01d.dee11","type":"function","z":"dfb134fc.204ec8","name":"Boiler","func":"var nodeid = msg.payload.module.label[0];\nmsg.payload = msg.payload.module.status[0];\nvar apikeylocal = global.get(\"apikey\");\nvar feedidlocal = global.get(\"feed-id\");\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"X-IS-AccessKey\": apikeylocal };\nmsg.url = \"https://groker.initialstate.com/api/events?\" + \"accessKey=\" + apikeylocal + \"&bucketKey=\" + feedidlocal + \"&\" + nodeid + \"=\" +msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":929.7976112365723,"y":191,"wires":[["c7644a4c.389bb8"]]},{"id":"f92ae420.06d518","type":"xml","z":"dfb134fc.204ec8","name":"","attr":"","chr":"","x":665.845157623291,"y":493.0475664138794,"wires":[["dc40af16.23bf5","9f38fe14.60c7","ebf1281.f140ed8","31ea9489.ce156c"]]},{"id":"e659a04c.19a66","type":"function","z":"dfb134fc.204ec8","name":"","func":"msg.payload = msg.payload.label[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":1194.4643096923828,"y":600.9047832489014,"wires":[["3ff9b1e3.c0064e"]]},{"id":"88df2dc7.7720d","type":"function","z":"dfb134fc.204ec8","name":"","func":"msg.payload = msg.payload.AnalogInput[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":1193.607135772705,"y":647.6190638542175,"wires":[["3ff9b1e3.c0064e"]]},{"id":"9f38fe14.60c7","type":"function","z":"dfb134fc.204ec8","name":"Channel 2","func":"msg.payload = msg.payload.module.channel_2[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":939.1785430908203,"y":512.9047679901123,"wires":[["e659a04c.19a66","88df2dc7.7720d","a243d605.5dbc28"]]},{"id":"ebf1281.f140ed8","type":"function","z":"dfb134fc.204ec8","name":"Channel 3","func":"msg.payload = msg.payload.module.channel_3[0];\nreturn msg;","outputs":1,"noerr":0,"x":938.1785430908203,"y":551.9047679901123,"wires":[["e659a04c.19a66","88df2dc7.7720d","a243d605.5dbc28"]]},{"id":"31ea9489.ce156c","type":"function","z":"dfb134fc.204ec8","name":"Channel 4","func":"msg.payload = msg.payload.module.channel_4[0];\nreturn msg;","outputs":1,"noerr":0,"x":937.1785430908203,"y":592.9047679901123,"wires":[["e659a04c.19a66","88df2dc7.7720d","a243d605.5dbc28"]]},{"id":"70e366c.f8f1c98","type":"xml","z":"dfb134fc.204ec8","name":"Study Fan","attr":"","chr":"","x":673.5,"y":693,"wires":[["aa41d1fa.55be3"]]},{"id":"f81af077.07e51","type":"debug","z":"dfb134fc.204ec8","name":"","active":false,"console":"false","complete":"false","x":1513.5,"y":674,"wires":[]},{"id":"aa41d1fa.55be3","type":"function","z":"dfb134fc.204ec8","name":"Channel 2 Study Fanstate","func":"msg.payload = msg.payload.module.channel_2[0];\nreturn msg;","outputs":1,"noerr":0,"x":973.5,"y":694,"wires":[["3606561b.c9f9aa"]]},{"id":"3606561b.c9f9aa","type":"function","z":"dfb134fc.204ec8","name":"Fan State","func":"//var nodeid = msg.payload.label[0];\nvar nodeid = \"Fan State\";\nvar temp = msg.payload.DigitalOutput[0];\n//var nodeid = \"testing\";\nvar apikeylocal = global.get(\"apikey\");\nvar feedidlocal = global.get(\"feed-id\");\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"X-IS-AccessKey\": apikeylocal };\nmsg.url = \"https://groker.initialstate.com/api/events?\" + \"accessKey=\" + apikeylocal + \"&bucketKey=\" + feedidlocal + \"&\" + nodeid + \"=\" + temp;\nreturn msg;","outputs":1,"noerr":0,"x":1202.5,"y":693,"wires":[["f81af077.07e51","c7644a4c.389bb8"]]},{"id":"788f5499.8770ac","type":"ibmiot out","z":"dfb134fc.204ec8","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"iobridge2","deviceType":"IoBridge","eventCommandType":"Event","format":"json","data":"msg.payload","name":"IBM IoT","service":"registered","x":1500.5,"y":777,"wires":[]},{"id":"3c017074.c3fe9","type":"function","z":"dfb134fc.204ec8","name":"","func":"var temp = msg.payload.module.channel_3[0].AnalogInput[0];\nvar msg1 = { payload:(\"{\" + \"\\\"\" + \"IoBridge Data\" + \"\\\"\" + \":\" + \"{\" + \"\\\"\" + \"Temp\" + \"\\\"\" + \":\" + temp + \"}}\") };\nreturn msg1;","outputs":1,"noerr":0,"x":907.5,"y":833,"wires":[["93dda45a.6c2258","788f5499.8770ac","833b9fc3.7cc46"]]},{"id":"93dda45a.6c2258","type":"debug","z":"dfb134fc.204ec8","name":"","active":false,"console":"false","complete":"false","x":1186.5,"y":897,"wires":[]},{"id":"5ba1a090.a45e6","type":"xml","z":"dfb134fc.204ec8","name":"","attr":"","chr":"","x":675.5,"y":837,"wires":[["3c017074.c3fe9"]]},{"id":"66427cf0.99bd84","type":"debug","z":"dfb134fc.204ec8","name":"","active":false,"console":"false","complete":"false","x":1574.5,"y":479,"wires":[]},{"id":"833b9fc3.7cc46","type":"ibmiot out","z":"dfb134fc.204ec8","authentication":"boundService","apiKey":"4de2ef6e.b21d1","outputType":"evt","deviceId":"IoBridge_Gateway","deviceType":"IoBridge_Gateway","eventCommandType":"Tempreture","format":"json","data":"msg.payload","name":"Iobridge Gateway","service":"registered","x":1517.5,"y":849,"wires":[]}]
