Bluemix Noaa Metar
[{"id":"b1332410.4eccd8","type":"http request","z":"a807f524.57f808","name":"Data source","method":"GET","ret":"txt","url":"http://www.aviationweather.gov{{{payload}}}","x":334,"y":289,"wires":[["af40b874.50bf48","20d26918.df2d96"]]},{"id":"1453aaaa.ebac55","type":"inject","z":"a807f524.57f808","name":"Weather report","topic":"","payload":"/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&hoursBeforeNow=3&mostRecent=true&stationString=EGLL","payloadType":"str","repeat":"600","crontab":"","once":false,"x":171,"y":289,"wires":[["b1332410.4eccd8","d606c70a.29f938"]]},{"id":"af40b874.50bf48","type":"xml","z":"a807f524.57f808","name":"","attr":"","chr":"","x":480,"y":289,"wires":[["a004348.f5ffbc8","6c4c0bd5.93b3f4"]]},{"id":"6c4c0bd5.93b3f4","type":"function","z":"a807f524.57f808","name":"Parse METAR","func":"\nvar METARdata = msg.payload.response.data[0].METAR[0];\nvar wind = METARdata.wind_speed_kt[0];\nvar gusts = wind; //if wind_gust_kt is not present, value defaults to wind_speed_kt\n   if (typeof METARdata.wind_gust_kt != \"undefined\") {\n\t   gusts = METARdata.wind_gust_kt[0];\n       }\nvar cloudbase = \"0\"; //if Cloude Base is not present, value defaults to 0\n   if (typeof METARdata.sky_condition[0].$.cloud_base_ft_agl != \"undefined\") {\n\t   cloudbase = METARdata.sky_condition[0].$.cloud_base_ft_agl[0];\n       }\nvar altim = METARdata.altim_in_hg[0];\nvar pressure = Math.round(altim * 33.8637526); //convert hg to mb\nvar dew = METARdata.dewpoint_c[0];\nvar temp = METARdata.temp_c[0];\nvar elevation = METARdata.elevation_m[0];\nvar visibilty = METARdata.visibility_statute_mi[0];\nvar timestamp = METARdata.observation_time[0];\nvar winddirection = METARdata.wind_dir_degrees[0];\nvar skycover = METARdata.sky_condition[0].$.sky_cover;\n\n//August-Roche-Magnus approximation to calculate humidity\nvar constA = 17.625;\nvar constB = 243.04;\nvar rh_numer = 100.0*Math.exp((constA*eval(dew))/(eval(dew)+constB));\nvar rh_denom = Math.exp((constA*eval(temp))/(eval(temp)+constB));\nvar rh_hum   = (rh_numer/rh_denom);\nvar humidity = Math.round(rh_hum);\n\nvar msg1 = { payload:(\"&Wind = \" + wind) };\nvar msg2 = { payload:(\"&Gusts = \" + gusts) };\nvar msg3 = { payload:(\"&Humidty = \" + humidity) };\nvar msg4 = { payload:(\"&Temp = \" + temp) };\nvar msg5 = { payload:(\"&Elevation = \" + elevation) };\nvar msg6 = { payload:(\"&Visibility = \" + visibilty) };\nvar msg7 = { payload:(timestamp)};\nvar msg8 = { payload:(\"&Cloud Base = \" + cloudbase) };\nvar msg9 = { payload:(\"&Skycover = \" + skycover) };\nvar msg10 = { payload:(\"&Wind Direction = \" + winddirection) };\nreturn [[msg7], [msg1],[msg2],[msg3],[msg4],[msg5],[msg6],[msg8],[msg9],[msg10]];\n","outputs":"10","noerr":0,"x":745,"y":220,"wires":[["97bdfb51.684208"],["97bdfb51.684208"],["97bdfb51.684208"],["97bdfb51.684208"],["97bdfb51.684208"],["97bdfb51.684208"],["97bdfb51.684208"],["97bdfb51.684208"],["97bdfb51.684208"],["9d551ca6.62aae","97bdfb51.684208"]]},{"id":"2bf8d4b6.d4072c","type":"comment","z":"a807f524.57f808","name":"NOAA Weather data","info":"Retrieving Heathrow Airport METAR feed","x":166,"y":250,"wires":[]},{"id":"20d26918.df2d96","type":"debug","z":"a807f524.57f808","name":"","active":false,"console":"false","complete":"true","x":568.5,"y":100,"wires":[]},{"id":"d606c70a.29f938","type":"debug","z":"a807f524.57f808","name":"","active":false,"console":"false","complete":"true","x":372.5,"y":100,"wires":[]},{"id":"a004348.f5ffbc8","type":"debug","z":"a807f524.57f808","name":"","active":false,"console":"false","complete":"true","x":756.5,"y":100,"wires":[]},{"id":"97bdfb51.684208","type":"function","z":"a807f524.57f808","name":"Feed Metar to IS","func":"\nvar apikeylocal = \"6UwVem6AFDvJ06bcuNkckcKl3SvhKByT\";\nvar feedidlocal = \"BlueMix Metar\";\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"X-IS-AccessKey\": apikeylocal };\nmsg.url = \"https://groker.initialstate.com/api/events?\" + \"accessKey=\" + apikeylocal + \"&bucketKey=\" + feedidlocal + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":992.5,"y":176,"wires":[["7042fe22.8fbd","e356d4c9.1ca928"]]},{"id":"7042fe22.8fbd","type":"debug","z":"a807f524.57f808","name":"","active":false,"console":"false","complete":"false","x":1193.5,"y":84,"wires":[]},{"id":"e356d4c9.1ca928","type":"http request","z":"a807f524.57f808","name":"","method":"use","ret":"txt","url":"","x":1213.5,"y":177,"wires":[["5ab2f34b.a54d0c"]]},{"id":"9d551ca6.62aae","type":"debug","z":"a807f524.57f808","name":"","active":false,"console":"false","complete":"false","x":998.5,"y":356,"wires":[]},{"id":"5ab2f34b.a54d0c","type":"debug","z":"a807f524.57f808","name":"","active":false,"console":"false","complete":"false","x":1422.5,"y":236,"wires":[]}]
