Bluemix NOAA
[{"id":"97584da1.68a7b","type":"http request","z":"24514201.dbaebe","name":"Data source","method":"GET","ret":"txt","url":"http://www.aviationweather.gov{{{payload}}}","x":278,"y":383,"wires":[["3549bf8b.cab64","44f68ba8.bb0974"]]},{"id":"3a510e49.c5aef2","type":"inject","z":"24514201.dbaebe","name":"Weather report","topic":"","payload":"/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&hoursBeforeNow=3&mostRecent=true&stationString=EGLL","payloadType":"str","repeat":"300","crontab":"","once":false,"x":115,"y":383,"wires":[["97584da1.68a7b","3aec6a19.c51396"]]},{"id":"3549bf8b.cab64","type":"xml","z":"24514201.dbaebe","name":"","attr":"","chr":"","x":424,"y":383,"wires":[["5449ca28.abb634","1bd57a0e.e42a86"]]},{"id":"1bd57a0e.e42a86","type":"function","z":"24514201.dbaebe","name":"Parse METAR","func":"\nvar METARdata = msg.payload.response.data[0].METAR[0];\nvar wind = METARdata.wind_speed_kt[0];\nvar gusts = wind; //if wind_gust_kt is not present, value defaults to wind_speed_kt\n   if (typeof METARdata.wind_gust_kt != \"undefined\") {\n\t   gusts = METARdata.wind_gust_kt[0];\n       }\nvar cloudbase = \"0\"; //if Cloude Base is not present, value defaults to 0\n   if (typeof METARdata.sky_condition[0].$.cloud_base_ft_agl != \"undefined\") {\n\t   cloudbase = METARdata.sky_condition[0].$.cloud_base_ft_agl[0];\n       }\nvar altim = METARdata.altim_in_hg[0];\nvar pressure = Math.round(altim * 33.8637526); //convert hg to mb\nvar dew = METARdata.dewpoint_c[0];\nvar temp = METARdata.temp_c[0];\nvar elevation = METARdata.elevation_m[0];\nvar visibility = METARdata.visibility_statute_mi[0];\nvar timestamp = METARdata.observation_time[0];\nvar winddirection = METARdata.wind_dir_degrees[0];\nvar skycover = METARdata.sky_condition[0].$.sky_cover;\n\n//August-Roche-Magnus approximation to calculate humidity\nvar constA = 17.625;\nvar constB = 243.04;\nvar rh_numer = 100.0*Math.exp((constA*eval(dew))/(eval(dew)+constB));\nvar rh_denom = Math.exp((constA*eval(temp))/(eval(temp)+constB));\nvar rh_hum   = (rh_numer/rh_denom);\nvar humidity = Math.round(rh_hum);\n\n// {\"device1\":{\"temperature\":61.4}}\n\nvar msg1 = { payload:(\"{\" + \"\\\"\" + \"MetarData\" + \"\\\"\" + \":\" + \"{\" + \"\\\"\" + \"Wind\" + \"\\\"\" + \":\" + wind + \"}}\") };\nvar msg2 = { payload:(\"{\" + \"\\\"\" + \"MetarData\" + \"\\\"\" + \":\" + \"{\" + \"\\\"\" + \"Gusts\" + \"\\\"\" + \":\" + gusts + \"}}\") };\nvar msg3 = { payload:(\"{\" + \"\\\"\" + \"MetarData\" + \"\\\"\" + \":\" + \"{\" + \"\\\"\" + \"Humidity\" + \"\\\"\" + \":\" + humidity + \"}}\") };\nvar msg4 = { payload:(\"{\" + \"\\\"\" + \"MetarData\" + \"\\\"\" + \":\" + \"{\" + \"\\\"\" + \"Temp\" + \"\\\"\" + \":\" + temp + \"}}\") };\nvar msg5 = { payload:(\"{\" + \"\\\"\" + \"MetarData\" + \"\\\"\" + \":\" + \"{\" + \"\\\"\" + \"Elevation\" + \"\\\"\" + \":\" + elevation + \"}}\") };\nvar msg6 = { payload:(\"{\" + \"\\\"\" + \"MetarData\" + \"\\\"\" + \":\" + \"{\" + \"\\\"\" + \"Visibility\" + \"\\\"\" + \":\" + visibility + \"}}\") };\nvar msg8 = { payload:(\"{\" + \"\\\"\" + \"MetarData\" + \"\\\"\" + \":\" + \"{\" + \"\\\"\" + \"Cloud Base\" + \"\\\"\" + \":\" + cloudbase + \"}}\") };\n//var msg7 = { payload:(timestamp)};\nvar msg9 = { payload:(\"{\" + \"\\\"\" + \"MetarData\" + \"\\\"\" + \":\" + \"{\" + \"\\\"\" + \"Skycover\" + \"\\\"\" + \":\" + \"\\\"\" + skycover+ \"\\\"\" + \"}}\") };\nvar msg10 = { payload:(\"{\" + \"\\\"\" + \"MetarData\" + \"\\\"\" + \":\" + \"{\" + \"\\\"\" + \"Wind Direction\" + \"\\\"\" + \":\" + winddirection + \"}}\") };\n//var msg10 = { payload:(\"Wind Direction = \" + winddirection) };\nreturn [[msg1],[msg2],[msg3],[msg4],[msg5],[msg6],[msg8],[msg9],[msg10]];\n//return [[msg1],[msg2]];","outputs":"10","noerr":0,"x":689,"y":314,"wires":[["8a2adad.f75d528","a8abc572.575438"],["8a2adad.f75d528","a8abc572.575438"],["8a2adad.f75d528","a8abc572.575438"],["8a2adad.f75d528","a8abc572.575438"],["8a2adad.f75d528","a8abc572.575438"],["8a2adad.f75d528","a8abc572.575438"],["8a2adad.f75d528","a8abc572.575438"],["8a2adad.f75d528","a8abc572.575438"],["8a2adad.f75d528","a8abc572.575438"],["93106ded.6cef9","8a2adad.f75d528","a8abc572.575438"]]},{"id":"f22ddaa8.0dd228","type":"comment","z":"24514201.dbaebe","name":"NOAA Weather data","info":"Retrieving Heathrow Airport METAR feed","x":110,"y":344,"wires":[]},{"id":"44f68ba8.bb0974","type":"debug","z":"24514201.dbaebe","name":"","active":false,"console":"false","complete":"true","x":512.5,"y":194,"wires":[]},{"id":"3aec6a19.c51396","type":"debug","z":"24514201.dbaebe","name":"","active":false,"console":"false","complete":"true","x":316.5,"y":194,"wires":[]},{"id":"5449ca28.abb634","type":"debug","z":"24514201.dbaebe","name":"","active":false,"console":"false","complete":"true","x":700.5,"y":194,"wires":[]},{"id":"8a2adad.f75d528","type":"function","z":"24514201.dbaebe","name":"Feed Metar to IS","func":"\nvar apikeylocal = \"6UwVem6AFDvJ06bcuNkckcKl3SvhKByT\";\nvar feedidlocal = \"BlueMix Metar\";\nvar data = {};\nmsg.method = \"GET\";\nmsg.headers = { \"X-IS-AccessKey\": apikeylocal };\nmsg.url = \"https://groker.initialstate.com/api/events?\" + \"accessKey=\" + apikeylocal + \"&bucketKey=\" + feedidlocal + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":936.5,"y":270,"wires":[["f4ca0fb3.0b35f"]]},{"id":"f4ca0fb3.0b35f","type":"debug","z":"24514201.dbaebe","name":"","active":false,"console":"false","complete":"false","x":1137.5,"y":178,"wires":[]},{"id":"93106ded.6cef9","type":"debug","z":"24514201.dbaebe","name":"","active":false,"console":"false","complete":"false","x":942.5,"y":450,"wires":[]},{"id":"8880234f.777fe","type":"ibmiot out","z":"24514201.dbaebe","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"MetarData","deviceType":"device1","eventCommandType":"events","format":"json","data":"msg.payload","name":"IBM test","service":"registered","x":1317.5,"y":358,"wires":[]},{"id":"a583b5fe.5a7c48","type":"debug","z":"24514201.dbaebe","name":"","active":false,"console":"false","complete":"false","x":1332.5,"y":279,"wires":[]},{"id":"a8abc572.575438","type":"function","z":"24514201.dbaebe","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":951.5,"y":342,"wires":[["a583b5fe.5a7c48","8880234f.777fe"]]}]
